*.mp3
*.flac
*.wav
*.m4a
*.ogg
node_modules/
.DS_Store
.env
*.log

# 环境变量
.env.local
.env.development.local
.env.test.local
.env.production.local

# 上传临时文件
uploads/

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器配置
.vscode/
.idea/
*.swp
*.swo 